@page
@model SoPro24Team06.Areas.Identity.Pages.Account.LockoutModel
@{
    ViewData["Title"] = "Konto gesperrt";
}

<!-- Ganze Datei: Code Ownership Michael Adolf -->

<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger">
    <h4>Ihr Konto wurde gesperrt.</h4>
    <p>Bitte wenden Sie sich an einen Administrator, um weitere Informationen zu erhalten.</p>
</div>
