@model SoPro24Team06.ViewModels.ChangePasswordViewModel

<h2 class="my-4">Passwort ändern</h2>

<!-- Form for changing password -->
<form asp-action="ChangeUserPassword" method="post">
    <input type="hidden" asp-for="Email" />
    <div class="form-group mt-2">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="password" placeholder="Gebe dein neues Passwort ein." />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group my-4">
        <button type="submit" class="btn" style="background-color: var(--lemming); color: white;">Passwort
            ändern</button>
        <a asp-action="Index" class="btn" style="background-color: var(--ash); color: white;">Zurück zur Verwaltung</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
