@model SoPro24Team06.ViewModels.ProcessListViewModel
@{
    ViewData["Title"] = "Vorgang starten";
}

<form>
        <fieldset style="margin-top: 8px;">
            <legend class="d-xxl-flex justify-content-xxl-start align-items-xxl-center">Prozess<button class="btn btn-primary" type="submit" style="margin-top: 12px;margin-left: 12px;margin-bottom: 8px;" data-bs-target="#modal-2" data-bs-toggle="modal">Auswählen</button></legend><input class="form-control" type="text">
        </fieldset>
        <fieldset style="margin-top: 8px;">
            <legend>Titel</legend><input class="form-control" type="text">
        </fieldset>
        <fieldset style="margin-top: 8px;">
            <legend>Vertragstyp</legend>
        </fieldset><button class="btn btn-primary" type="button" data-bs-target="#modal-1" data-bs-toggle="modal" style="margin-top: 0px;margin-bottom: 0px;">Vertragstyp</button>
        <fieldset style="margin-top: 8px;">
            <legend>Abteilung</legend><button class="btn btn-primary" type="button" data-bs-target="#modal-1" data-bs-toggle="modal" style="margin-top: 0px;margin-bottom: 0px;">Abteilung</button>
        </fieldset>
        <fieldset style="margin-top: 8px;">
            <legend>Beschreibung</legend><textarea class="form-control"></textarea>
        </fieldset>
        <fieldset style="margin-top: 8px;">
            <legend>Aufgaben<button class="btn btn-primary" type="button" style="margin-left: 16px;" data-bs-target="#modal-1" data-bs-toggle="modal">Aufgaben hinzufügen</button></legend>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Titel</th>
                            <th>Anleitung</th>
                            <th>Aufgabenzuständiger</th>
                            <th>Vertragsart</th>
                            <th>Abteilung</th>
                            <th>Fälligkeit</th>
                            <th>Aktionen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SSH Key erstellen</td>
                            <td><a href="#" data-bs-target="#modal-3" data-bs-toggle="modal">Mehr anzeigen</a></td>
                            <td>IT</td>
                            <td>Werkstudent</td>
                            <td>Developer</td>
                            <td>1Wochen vor Start</td>
                            <td class="d-flex flex-row justify-content-evenly"><a data-bs-target="#modal-1" data-bs-toggle="modal"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-box-arrow-up-left fs-4">
                                        <path fill-rule="evenodd" d="M7.364 3.5a.5.5 0 0 1 .5-.5H14.5A1.5 1.5 0 0 1 16 4.5v10a1.5 1.5 0 0 1-1.5 1.5h-10A1.5 1.5 0 0 1 3 14.5V7.864a.5.5 0 1 1 1 0V14.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-10a.5.5 0 0 0-.5-.5H7.864a.5.5 0 0 1-.5-.5"></path>
                                        <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h5a.5.5 0 0 1 0 1H1.707l8.147 8.146a.5.5 0 0 1-.708.708L1 1.707V5.5a.5.5 0 0 1-1 0z"></path>
                                    </svg></a><a href="AssignmentTemplateEdit.html"><i class="far fa-edit" style="font-size: 20px;color: rgb(0,0,0);"></i></a><button class="btn-close" type="button" aria-label="Close"></button></td>
                        </tr>
                        <tr>
                            <td>Laptop einrichten</td>
                            <td><a href="#">Mehr anzeigen</a></td>
                            <td>Bezugsperson</td>
                            <td>Werkstudent</td>
                            <td>Developer</td>
                            <td>2 Wochen vor Start</td>
                            <td class="d-flex flex-row justify-content-evenly"><a data-bs-target="#modal-1" data-bs-toggle="modal"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-box-arrow-up-left fs-4">
                                        <path fill-rule="evenodd" d="M7.364 3.5a.5.5 0 0 1 .5-.5H14.5A1.5 1.5 0 0 1 16 4.5v10a1.5 1.5 0 0 1-1.5 1.5h-10A1.5 1.5 0 0 1 3 14.5V7.864a.5.5 0 1 1 1 0V14.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-10a.5.5 0 0 0-.5-.5H7.864a.5.5 0 0 1-.5-.5"></path>
                                        <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h5a.5.5 0 0 1 0 1H1.707l8.147 8.146a.5.5 0 0 1-.708.708L1 1.707V5.5a.5.5 0 0 1-1 0z"></path>
                                    </svg></a><a href="AssignmentTemplateEdit.html"><i class="far fa-edit" style="font-size: 20px;color: rgb(0,0,0);"></i></a><button class="btn-close" type="button" aria-label="Close"></button></td>
                        </tr>
                        <tr>
                            <td>Vertrag abschließen</td>
                            <td><a href="#">Mehr anzeigen</a></td>
                            <td>Geschäftsleitung</td>
                            <td>Vollzeit</td>
                            <td>Personal</td>
                            <td>1 Wochen vor Start</td>
                            <td class="d-flex flex-row justify-content-evenly"><a data-bs-target="#modal-1" data-bs-toggle="modal"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-box-arrow-up-left fs-4">
                                        <path fill-rule="evenodd" d="M7.364 3.5a.5.5 0 0 1 .5-.5H14.5A1.5 1.5 0 0 1 16 4.5v10a1.5 1.5 0 0 1-1.5 1.5h-10A1.5 1.5 0 0 1 3 14.5V7.864a.5.5 0 1 1 1 0V14.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-10a.5.5 0 0 0-.5-.5H7.864a.5.5 0 0 1-.5-.5"></path>
                                        <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h5a.5.5 0 0 1 0 1H1.707l8.147 8.146a.5.5 0 0 1-.708.708L1 1.707V5.5a.5.5 0 0 1-1 0z"></path>
                                    </svg></a><a href="AssignmentTemplateEdit.html"><i class="far fa-edit" style="font-size: 20px;color: rgb(0,0,0);"></i></a><button class="btn-close" type="button" aria-label="Close"></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset><button class="btn btn-primary" type="submit" style="margin-top: 12px;">Starten</button>
    </form><!-- Start: AufgabenModal -->
    <div class="modal fade visible" role="dialog" tabindex="-1" id="modal-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Füge weitere Aufgaben hinzu</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Aufgabentitel</th>
                                    <th>Aktion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Aufgabe 1</td>
                                    <td class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg fs-3 text-success">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                        </svg></td>
                                </tr>
                                <tr>
                                    <td>Aufgabe 2</td>
                                    <td class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-ban fs-3 text-danger">
                                            <path d="M15 8a6.973 6.973 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"></path>
                                        </svg></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Zurück</button><button class="btn btn-primary" type="button">Speichern</button></div>
            </div>
        </div>
    </div><!-- End: AufgabenModal -->
    <!-- Start: ProzessModal -->
    <div class="modal fade visible" role="dialog" tabindex="-1" id="modal-2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Wähle einen Prozess als Template aus</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Prozesstitel</th>
                                    <th>Aktion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Onboarding</td>
                                    <td class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg fs-3 text-success">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                        </svg></td>
                                </tr>
                                <tr>
                                    <td>Offboarding</td>
                                    <td class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-ban fs-3 text-danger">
                                            <path d="M15 8a6.973 6.973 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"></path>
                                        </svg></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Zurück</button><button class="btn btn-primary" type="button">Speichern</button></div>
            </div>
        </div>
    </div><!-- End: ProzessModal -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>